<!DOCTYPE html>
<html>
<head>
  <title>Wally</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'http://localhost:9292/faye.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <%= link_to "Sign in with Google", "/auth/google_oauth2"%>
  <%=link_to "WHAT DOES THIS DO?", "/sessions/get_stuff" %>
</div>

<%= yield %>

</body>
</html>

