<!DOCTYPE html>
<html>
<head>
  <title>Wally</title>
 
 
<!--   <%= javascript_include_tag "application", 'http://localhost:9292/faye.js' %> -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="WallyApp">
<div id="user_nav">
  <%= link_to "Sign in with Google", "/auth/google_oauth2"%>
  <%=link_to "WHAT DOES THIS DO?", "/sessions/get_stuff" %>
</div>

<%= yield %>

		<div class="container" ng-view></div>

        <script src="scripts/vendor/d10639ae.angular.js"></script>
        <script src="scripts/vendor/84c0eefb.angular-resource.js"></script>

        <script src="scripts/eb3b9ff0.scripts.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

</body>
</html>

